UI/UI/Connected Services/srvDetalleMascota/srvDetalleMascota.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTVET_DetalleMascota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TVET_DetalleMascota" nillable="true" type="tns:TVET_DetalleMascota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTVET_DetalleMascota" nillable="true" type="tns:ArrayOfTVET_DetalleMascota" />
  <xs:complexType name="TVET_DetalleMascota">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_Raza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_IdMascota" type="xs:int" />
      <xs:element minOccurs="0" name="TN_Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="TVET_Mascotas" nillable="true" type="tns:TVET_Mascotas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TVET_DetalleMascota" nillable="true" type="tns:TVET_DetalleMascota" />
  <xs:complexType name="TVET_Mascotas">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_NombreMascota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_IdCliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdMascota" type="xs:int" />
      <xs:element minOccurs="0" name="TVET_Citas" nillable="true" type="tns:ArrayOfTVET_Citas" />
      <xs:element minOccurs="0" name="TVET_DetalleMascota" nillable="true" type="tns:TVET_DetalleMascota" />
      <xs:element minOccurs="0" name="TVE_Clientes" nillable="true" type="tns:TVE_Clientes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TVET_Mascotas" nillable="true" type="tns:TVET_Mascotas" />
  <xs:complexType name="ArrayOfTVET_Citas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TVET_Citas" nillable="true" type="tns:TVET_Citas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTVET_Citas" nillable="true" type="tns:ArrayOfTVET_Citas" />
  <xs:complexType name="TVET_Citas">
    <xs:sequence>
      <xs:element minOccurs="0" name="TF_FecCita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TN_IdCita" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdCliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdMascota" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TVET_Diagnostico" nillable="true" type="tns:ArrayOfTVET_Diagnostico" />
      <xs:element minOccurs="0" name="TVET_Mascotas" nillable="true" type="tns:TVET_Mascotas" />
      <xs:element minOccurs="0" name="TVE_Clientes" nillable="true" type="tns:TVE_Clientes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TVET_Citas" nillable="true" type="tns:TVET_Citas" />
  <xs:complexType name="ArrayOfTVET_Diagnostico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TVET_Diagnostico" nillable="true" type="tns:TVET_Diagnostico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTVET_Diagnostico" nillable="true" type="tns:ArrayOfTVET_Diagnostico" />
  <xs:complexType name="TVET_Diagnostico">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_DscDiagnostico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_IdCita" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdDiagnostico" type="xs:int" />
      <xs:element minOccurs="0" name="TVET_Citas" nillable="true" type="tns:TVET_Citas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TVET_Diagnostico" nillable="true" type="tns:TVET_Diagnostico" />
  <xs:complexType name="TVE_Clientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_Ap1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_Ap2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_NumTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="TVET_Citas" nillable="true" type="tns:ArrayOfTVET_Citas" />
      <xs:element minOccurs="0" name="TVET_Mascotas" nillable="true" type="tns:ArrayOfTVET_Mascotas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TVE_Clientes" nillable="true" type="tns:TVE_Clientes" />
  <xs:complexType name="ArrayOfTVET_Mascotas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TVET_Mascotas" nillable="true" type="tns:TVET_Mascotas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTVET_Mascotas" nillable="true" type="tns:ArrayOfTVET_Mascotas" />
</xs:schema>