UI/UI/Connected Services/srvDetalleMascota/srvDetalleMascota.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvDetalleMascota" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51022/srvDetalleMascota.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51022/srvDetalleMascota.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51022/srvDetalleMascota.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvDetalleMascota_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_obtenerDetalle_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDetalle_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_obtenerDetalle_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDetalle_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_obtenerDetalleXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDetalleXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_obtenerDetalleXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDetalleXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_agregadetalle_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:agregadetalle_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_agregadetalle_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregadetalle_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_modificaDetalle_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaDetalle_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_modificaDetalle_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaDetalle_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_eliminaDetalle_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaDetalle_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDetalleMascota_eliminaDetalle_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaDetalle_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvDetalleMascota">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleMascota/DoWork" message="tns:IsrvDetalleMascota_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleMascota/DoWorkResponse" message="tns:IsrvDetalleMascota_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDetalle_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleMascota/obtenerDetalle_ENT" message="tns:IsrvDetalleMascota_obtenerDetalle_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleMascota/obtenerDetalle_ENTResponse" message="tns:IsrvDetalleMascota_obtenerDetalle_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDetalleXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleMascota/obtenerDetalleXId_ENT" message="tns:IsrvDetalleMascota_obtenerDetalleXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleMascota/obtenerDetalleXId_ENTResponse" message="tns:IsrvDetalleMascota_obtenerDetalleXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregadetalle_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleMascota/agregadetalle_ENT" message="tns:IsrvDetalleMascota_agregadetalle_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleMascota/agregadetalle_ENTResponse" message="tns:IsrvDetalleMascota_agregadetalle_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaDetalle_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleMascota/modificaDetalle_ENT" message="tns:IsrvDetalleMascota_modificaDetalle_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleMascota/modificaDetalle_ENTResponse" message="tns:IsrvDetalleMascota_modificaDetalle_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaDetalle_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDetalleMascota/eliminaDetalle_ENT" message="tns:IsrvDetalleMascota_eliminaDetalle_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDetalleMascota/eliminaDetalle_ENTResponse" message="tns:IsrvDetalleMascota_eliminaDetalle_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvDetalleMascota" type="tns:IsrvDetalleMascota">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleMascota/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDetalle_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleMascota/obtenerDetalle_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDetalleXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleMascota/obtenerDetalleXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregadetalle_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleMascota/agregadetalle_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaDetalle_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleMascota/modificaDetalle_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaDetalle_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDetalleMascota/eliminaDetalle_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvDetalleMascota">
    <wsdl:port name="BasicHttpBinding_IsrvDetalleMascota" binding="tns:BasicHttpBinding_IsrvDetalleMascota">
      <soap:address location="http://localhost:51022/srvDetalleMascota.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>