UI/UI/Connected Services/srvDiagnostico/srvDiagnostico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51022/srvDiagnostico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDiagnostico_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDiagnostico_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerDiagnostico_ENTResult" nillable="true" type="q1:ArrayOfTVET_Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDiagnosticoXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdDiagnostico" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDiagnosticoXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerDiagnosticoXId_ENTResult" nillable="true" type="q2:TVET_Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregaDiagnostico_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDiagnostico" nillable="true" type="q3:TVET_Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregaDiagnostico_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregaDiagnostico_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaDiagnostico_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDiagnostico" nillable="true" type="q4:TVET_Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaDiagnostico_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificaDiagnostico_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminaDiagnostico_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pDiagnostico" nillable="true" type="q5:TVET_Diagnostico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminaDiagnostico_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminaDiagnostico_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>