UI/UI/Connected Services/srvDiagnostico/srvDiagnostico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvDiagnostico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51022/srvDiagnostico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51022/srvDiagnostico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51022/srvDiagnostico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvDiagnostico_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_obtenerDiagnostico_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDiagnostico_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_obtenerDiagnostico_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDiagnostico_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_obtenerDiagnosticoXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDiagnosticoXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_obtenerDiagnosticoXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDiagnosticoXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_agregaDiagnostico_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:agregaDiagnostico_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_agregaDiagnostico_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregaDiagnostico_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_modificaDiagnostico_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaDiagnostico_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_modificaDiagnostico_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaDiagnostico_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_eliminaDiagnostico_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaDiagnostico_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_eliminaDiagnostico_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaDiagnostico_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvDiagnostico">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/DoWork" message="tns:IsrvDiagnostico_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/DoWorkResponse" message="tns:IsrvDiagnostico_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDiagnostico_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/obtenerDiagnostico_ENT" message="tns:IsrvDiagnostico_obtenerDiagnostico_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/obtenerDiagnostico_ENTResponse" message="tns:IsrvDiagnostico_obtenerDiagnostico_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDiagnosticoXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/obtenerDiagnosticoXId_ENT" message="tns:IsrvDiagnostico_obtenerDiagnosticoXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/obtenerDiagnosticoXId_ENTResponse" message="tns:IsrvDiagnostico_obtenerDiagnosticoXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregaDiagnostico_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/agregaDiagnostico_ENT" message="tns:IsrvDiagnostico_agregaDiagnostico_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/agregaDiagnostico_ENTResponse" message="tns:IsrvDiagnostico_agregaDiagnostico_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaDiagnostico_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/modificaDiagnostico_ENT" message="tns:IsrvDiagnostico_modificaDiagnostico_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/modificaDiagnostico_ENTResponse" message="tns:IsrvDiagnostico_modificaDiagnostico_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaDiagnostico_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/eliminaDiagnostico_ENT" message="tns:IsrvDiagnostico_eliminaDiagnostico_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/eliminaDiagnostico_ENTResponse" message="tns:IsrvDiagnostico_eliminaDiagnostico_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvDiagnostico" type="tns:IsrvDiagnostico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDiagnostico_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/obtenerDiagnostico_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDiagnosticoXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/obtenerDiagnosticoXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregaDiagnostico_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/agregaDiagnostico_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaDiagnostico_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/modificaDiagnostico_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaDiagnostico_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/eliminaDiagnostico_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvDiagnostico">
    <wsdl:port name="BasicHttpBinding_IsrvDiagnostico" binding="tns:BasicHttpBinding_IsrvDiagnostico">
      <soap:address location="http://localhost:51022/srvDiagnostico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>