UI/UI/Connected Services/srvMascotas/srvMascotas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvMascotas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51022/srvMascotas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51022/srvMascotas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51022/srvMascotas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvMascotas_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_obtenerMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_obtenerMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_obtenerMascotasXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMascotasXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_obtenerMascotasXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMascotasXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_agregaMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:agregaMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_agregaMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregaMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_modificaMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_modificaMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_eliminaMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_eliminaMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvMascotas">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/DoWork" message="tns:IsrvMascotas_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/DoWorkResponse" message="tns:IsrvMascotas_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/obtenerMascotas_ENT" message="tns:IsrvMascotas_obtenerMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/obtenerMascotas_ENTResponse" message="tns:IsrvMascotas_obtenerMascotas_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerMascotasXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/obtenerMascotasXId_ENT" message="tns:IsrvMascotas_obtenerMascotasXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/obtenerMascotasXId_ENTResponse" message="tns:IsrvMascotas_obtenerMascotasXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregaMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/agregaMascotas_ENT" message="tns:IsrvMascotas_agregaMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/agregaMascotas_ENTResponse" message="tns:IsrvMascotas_agregaMascotas_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/modificaMascotas_ENT" message="tns:IsrvMascotas_modificaMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/modificaMascotas_ENTResponse" message="tns:IsrvMascotas_modificaMascotas_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/eliminaMascotas_ENT" message="tns:IsrvMascotas_eliminaMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/eliminaMascotas_ENTResponse" message="tns:IsrvMascotas_eliminaMascotas_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvMascotas" type="tns:IsrvMascotas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/obtenerMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerMascotasXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/obtenerMascotasXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregaMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/agregaMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/modificaMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/eliminaMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvMascotas">
    <wsdl:port name="BasicHttpBinding_IsrvMascotas" binding="tns:BasicHttpBinding_IsrvMascotas">
      <soap:address location="http://localhost:51022/srvMascotas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>